.searchfield_form {
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(0, 114, 207, 0.712);
  border: 4px solid rgba(245, 121, 21, 0.959);
}
.searchfield_form input {
  width: 22.5rem;
  margin: 7px;
}
.searchfield_form small {
  display: block;
  position: relative;
  left: 10px;
}
.searchfield_form button {
  font-size: 1.5rem;
  padding: 0.5rem;
  width: fit-content;
  border: 2px solid black;
  background-color: rgba(0, 144, 0, 0.705);
}
