.cards_container {
  display: grid;
  background-color: rgba(236, 142, 66, 0.205);
  width: 90%;
  position: relative;
  top: 3rem;
  text-overflow: hidden;
  scroll-behavior: smooth;
}
.cards {
  display: grid;
  justify-content: center;
}
.img_search_page {
  margin-top: 0;
}
