.cards_container {
  display: grid;
  background-color: rgba(236, 142, 66, 0.205);
  width: 90%;
  position: relative;
  top: 3rem;
  scroll-behavior: smooth;
  padding-bottom: 6rem;
}
.cards {
  display: grid;
  justify-content: center;
}
.img_search_page {
  margin-top: 0;
}
.message_dwcards {
  margin: auto;
  font-family: "Alice", serif;
  font-size: 1.2rem;
}

@media screen and (max-width: 800px) {
  .cards_container {
    width: 100%;
  }
}
