.update_user_details_div {
  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: fit-content;
  border-radius: 15px;
  top: 7rem;
  margin-bottom: 10rem;
  background-color: rgba(255, 255, 255, 0.582);
}
.profile_form {
  display: grid;
  row-gap: 2rem;
  height: fit-content;
}
.profile_form span {
  margin: 0 1rem;
}
.profile_form label {
  float: left;
  min-width: 90px;
  text-align: right;
}
.profile_form h3 {
  color: red;
  display: inline;
}
.profile_form input {
  float: left;
  margin-left: 1rem;
}

.profile_form textarea {
  resize: none;
  overflow: hidden;
}
.img_profile {
  position: relative;
  margin-left: 1.5rem;
}
.checkbox {
  display: flex;
  align-items: center;
}
.checkbox label {
  cursor: pointer;
  margin-left: 1rem;
}
.checkmark {
  position: absolute;
  cursor: pointer;
  top: initial;
  left: 2.1rem;
  height: 20px;
  width: 20px;
  background-color: transparent;
  font-size: 0;
  border: 2px solid black;
}

.checkbox input {
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
}

.checkbox input:checked ~ .checkmark {
  background-color: rgba(0, 144, 0, 0.705);
  color: black;
  border: 2px solid black;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
}

#img {
  border: none;
  float: none;
}
.user_img {
  object-fit: cover;
  object-position: 0px 10%;
  border-radius: 100px;
  width: 150px;
  height: 150px;
}

#age {
  width: 3.5rem;
}

.profile_form button {
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: fit-content;
  margin: 0 2rem;
  border: 2px solid black;
  background-color: rgba(0, 144, 0, 0.705);
}
#submit_user_details {
  margin: auto;
}

@media screen and (max-width: 800px) {
  .user_img {
    width: 100px;
    height: 100px;
  }
  textarea#about {
    width: 80vw;
  }
  .profile_form {
    width: 80vw;
  }
  .profile_form label {
    min-width: 80px;
  }
  .profile_form span {
    margin: 0;
  }
  .profile_form button {
    margin: auto;
  }
  .img_profile {
    margin-left: 0;
  }
}
