.update_div_box {
  border-radius: 6px;
  border: 1px solid rgba(242, 133, 0, 0.397);
  padding: 2rem 1rem;
}
.update_tit {
  text-align: center;
  margin-bottom: 1.5rem;
}
.signup_form {
  display: grid;
  row-gap: 1rem;
}

.signup_form button {
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: fit-content;
  margin: auto;
  border: 2px solid black;
  background-color: rgba(0, 144, 0, 0.705);
}
small {
  color: red;
}
