.forget_div {
  position: relative;
  border-radius: 6px;
  border: 1px solid rgba(242, 133, 0, 0.397);
  padding: 2rem 1rem;
  width: 25rem;
  top: 10rem;
}
.forget_form {
  display: grid;
  row-gap: 1rem;
}
.forget_tit {
  text-align: center;
  margin-bottom: 1.5rem;
}
.pass_prob {
  display: flex;
  justify-content: space-between;
}
.forget_form button {
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: fit-content;
  margin: auto;
  border: 2px solid black;
  background-color: rgba(0, 144, 0, 0.705);
}
@media screen and (max-width: 800px) {
  .forget_div {
    width: inherit;
  }
}
