.forget_div {
  position: relative;
  border-radius: 6px;
  border: 1px solid rgba(242, 133, 0, 0.397);
  padding: 2rem 1rem;
  width: 25rem;
  top: 1rem;
}
.forget_tit {
  text-align: center;
  margin-bottom: 1.5rem;
}
.pass_prob {
  display: flex;
  justify-content: space-between;
}
