* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alice", serif;
  background-color: #fdfcfa;
  color: black;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1rem;
}
button {
  cursor: pointer;
  font-family: "Alice", serif;
}
a,
a:link,
a:visited {
  text-decoration: none;
}
label {
  font-size: 1.1rem;
}
small {
  color: red;
}
input,
textarea {
  border-radius: 6px;
  border: 1px solid black;
  font-family: "Alice", serif;
  font-size: 1.2rem;
  padding: 0.4rem;
}

/*Header*/
#header_nav {
  position: fixed;
  z-index: 1;
  display: flex;
  font-size: 1.5rem;
  top: 0;
  padding: 1rem 2rem;
  width: 100%;
  background-color: rgb(58, 144, 214);
  border-bottom: 2px solid black;
  justify-content: space-between;
  align-self: center;
}
#header_nav h3,
#header_nav .header_link {
  font-weight: 400;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 1rem;
  color: #fdfcfa;
}
.right_nav_side,
.right_nav_side_dropdown {
  display: flex;
}
.right_nav_side > span {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 300ms linear;
}
.right_nav_side_dropdown > span {
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms linear;
}
/*Footer*/
#footer {
  display: flex;
  position: relative;
  bottom: 0;
  margin: 0;
  width: 100%;
  justify-content: center;
}

/*enter and dogwalker screens*/
.container,
.container_dogwalker {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 2.5rem;
}
.container_dogwalker {
  top: 11rem;
  justify-content: space-between;
  padding: 0 3rem;
}
.welcome_div {
  position: relative;
  display: flex;
  align-items: center;
}

.pic_div img {
  position: relative;
  width: 25rem;
  height: 42rem;
  z-index: 2;
}

.paws {
  position: absolute;
  font-size: 3rem;
  color: rgba(242, 133, 0, 0.397);
  align-self: center;
  transform: rotate(35deg);
  left: 60%;
  top: 50%;
  z-index: -1;
}
.one {
  animation: fadeIn ease 8s infinite;
  -webkit-animation: fadeIn ease 8s infinite;
  animation-delay: 2s;
  position: relative;
  transform: scale(3);
  bottom: 1rem;
}
.two {
  animation: fadeIn ease 8s infinite;
  -webkit-animation: fadeIn ease 8s infinite;
  animation-delay: 3s;
  position: relative;
  margin: 1rem;
  bottom: 1rem;
  left: 7rem;
}
.three {
  animation: fadeIn ease 8s infinite;
  -webkit-animation: fadeIn ease 8s infinite;
  animation-delay: 4s;
  position: relative;
  transform: scale(2);
  margin: 1rem;
  margin: 1rem;
  top: 7rem;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.talking_dog {
  display: flex;
  justify-content: center;
}

.talking_dog > h3 {
  position: relative;
  left: -1.5rem;
  width: 40vw;
  height: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  color: rgba(245, 121, 21, 0.959);
  text-shadow: 0 0 1px black;
}
.talking_dog img {
  width: 20rem;
  position: relative;
  top: 1rem;
}

.sign_in_div,
.user_type_div {
  display: grid;
  row-gap: 2rem;
}
.sign_in_div {
  margin: 0 1rem 10rem 0;
}
.sign_in_div button,
.user_type_div button {
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 5rem;
  color: #fdfcfa;
  border: 2px solid black;
  background-color: rgba(0, 114, 207, 0.712);
  height: 8rem;
}
.user_type_div button {
  background-color: rgba(245, 121, 21, 0.959);
  padding: 1rem 1rem;
}
/* login screen */
.login_screen_div {
  position: relative;
  top: 3rem;
  right: 9rem;
  display: flex;
  justify-content: center;
}
.login_screen_div img {
  position: relative;
  top: 21rem;
}
/* profile screen*/
.profile_screen_div {
  display: flex;
  justify-content: center;
  background-image: url(./img/sunglasses.jpg);
  min-height: 120vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
/*update user details screen*/
.profie_update_div {
  display: flex;
  justify-content: center;
  background-image: url(./img/sunset.jpg);
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

/*forget-password*/
.forget_screen_div {
  display: flex;
  justify-content: center;
}

/*update screen*/
.update_screen_div {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10rem;
}
@media (max-width: 1150px) {
  .talking_dog > h3 {
    height: 11rem;
    font-size: 1.5rem;
    top: -4rem;
  }
  .talking_dog img {
    width: 15rem;
  }
  .login_screen_div {
    top: 7rem;
    right: 0;
    display: grid;
  }
  .login_screen_div img {
    top: 0;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 2.5rem;
    margin: 0.5rem 0;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  input,
  textarea {
    font-size: 0.9rem;
  }
  .paws {
    font-size: 1.5rem;
  }
  .two {
    left: 4rem;
  }
  .three {
    top: 4.5rem;
  }

  .container,
  .container_dogwalker {
    display: grid;
    margin: auto;
    top: 5rem;
  }
  .container_dogwalker {
    top: 11rem;
    padding: 0;
  }
  .sign_in_div {
    margin: 0 3rem;
  }
  .sign_in_div button,
  .user_type_div button {
    width: 80vw;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  /* white puppy */
  .talking_dog img {
    width: 15rem;
  }
  /* black dog  */
  .pic_div img {
    width: 12rem;
    height: 20rem;

    position: relative;
  }
  @media (max-width: 400px) {
    .talking_dog > h3 {
      font-size: 1rem;
    }
  }
}
